body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
    background-color: aqua;
}

.custom-mt-n5vw {
    margin-top: -5vw;
}

.custom-mt-n20vw {
    margin-top: -20vw;
    padding-top: 5vw;
}

.custom-mb-5vw {
    margin-bottom: 5vw;
}