{% extends 'layouts/base_sections.html' %}
{% load static %}


{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/curved-images/bg1.jpg' %}')">
    <div class="container custom-mt-10vw z-index-2 my-8">
      <h1 class="text-white">
        Dish type: {{ dish_type.name }}
      </h1>
      <br>
      <h2 class="text-white">ID: <i>{{ dish_type.id }}</i></h2>
      <br>
      <h3 class="text-white">Name: <i>{{ dish_type.name }}</i></h3>
      <br>
      <h2 class="text-white">Cooks:</h2>
        <h3 class="text-white"> 
          <i>{% if dish_type.specialty_cooks.all %}
            {% for cook in dish_type.specialty_cooks.all %}
              {{ cook.first_name }} {{ cook.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            -
          {% endif %}</i>
        </h3>
      <br>
      <h2 class="text-white">Dishes:</h2>
        <h3 class="text-white"><i>
          {% if dish_type.dishes.all %}
            {% for dish in dish_type.dishes.all %}
              {{ dish.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% else %}
            -
          {% endif %}
        </i></h3>
      <br>
      <a href="{% url 'kitchen:dish-type-list' %}" class="btn btn-secondary z-index-2">Back to list</a>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>
  
{% endblock content %}
