{% extends "base.html" %}
{% block content %}
  <h1>Dishes</h1>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <strong>{{ dish.dish_type.name }}</strong>
          <br>
          {{ dish.name }} ({{ dish.price }})
          <p>{{ dish.description }}</p>
          <p>{% if dish.cooks.all %}
            Cooks: 
            {% for cook in dish.cooks.all %}
              {{ cook.first_name }} {{ cook.last_name }}
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% else %}
              There are not cooks.
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish</p>
  {% endif %}
  {% endblock %}
